.idea/
*.iml
.DS_Store

# dependencies
node_modules/

# Next.js
.next/
out/

# build
dist/
build/
target/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
